*.egg-info
*.mo
*.py?
*~
.coverage
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.cache/
.plone.versioncheck.tracked.json
.project
.pydevproject
.settings/
bin/
data/
develop-eggs/
downloads/
eggs/
cache/
htmlcov/
lib/
local.cfg
local/
mysql.txt
parts/
products/
share/
src/brasil.gov.*/
src/collective.*
src/plone.*
src/Products.*
src/sc.*
var/
src/brasil/gov/timeline/browser/static/
webpack/node_modules*
webpack/yarn.lock
webpack/package-lock.json
